<p>behaviour-child1 works!</p>
<!-- 
<div>
    <div class="shadow" *ngFor="let list of behavior_array" (click)="sendlist(list)">
        <div class="my-4 p-5" style="cursor: pointer;">
            <p>{{list.firstname}}</p>
            <p>{{list.lastname}}</p>
            <p>{{list.age}}</p>
            <p>{{list.email}}</p>
        </div>
    </div>
</div> -->



<div class="container mt-5">
    <h2 class="text-center">Registrations</h2>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registration of registrations">
                <td>{{ registration.firstName }}</td>
                <td>{{ registration.lastName }}</td>
                <td>{{ registration.email }}</td>
                <td>{{ registration.gender }}</td>
                <td >
                    <button type="button" class="btn btn-primary">View</button>
                  </td>                  
            </tr>
        </tbody>
    </table>
</div>



  
