<div class="container-fluid mt-5">
    <div class="text-center text-primary shadow p-3 mb-5 bg-white rounded">
        <h5>This is the Subject_Behavior_Parent Component!</h5>
    </div>
    <hr>
    <div class="row justify-content-center g-3 text-center">
        <div class="col-md-5 shadow-sm rounded p-3 text-dark">
            <app-behaviour-child1></app-behaviour-child1>
        </div>
        <div class="col-md-5 shadow-sm rounded p-3 text-primary">
            <app-behaviour-child2></app-behaviour-child2>
        </div>
    </div>
</div>
