<p>event-parent works!</p>
<div class="container">
    <div class="col-md-6 mx-auto shadow p-5 mb-5 bg-white rounded">
        <h1 class="text-success text-center">This is the parent component</h1>
        <div class="d-flex">
            <input type="text" [(ngModel)]="text" class="form-control mr-2" placeholder="Enter your message">
            <button class="btn btn-primary" (click)="send()">Send</button>
        </div>
        <div class="alert alert-info mt-2">Receiver: {{data}}</div>
    </div>
</div>

<app-event-child [receivetext]="newtext" (eventemit)="receiveResponse($event)"></app-event-child>
