<!-- Sign Up Section -->
<div class="container">
    <div class="row ms-5">
        <div class="col-3 shadow">
            <div class="text-center">
                <h6 class="text-info">Create Contact</h6>
            </div>
            <div class="col-10 mx-auto">
                <div class="form-group">
                    <input type="text" class="{{styles}}" [(ngModel)]="first_name" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input type="text" class="{{styles}}" [(ngModel)]="last_name" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input type="text" class="{{styles}}" [(ngModel)]="phone_number" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="{{styles}}" [(ngModel)]="address" placeholder="Address">
                </div>
                <div class="form-group">
                    <input type="text" class="{{styles}}" [(ngModel)]="gender" placeholder="Gender">
                </div>
                <div class="form-group">
                    <input type="text" class="{{styles}}" [(ngModel)]="email" placeholder="Email">
                </div>
                <button class="btn btn-success" (click)="addContact()">Add User</button>
            </div>
        </div>
        <div class="col-3 shadow">
          <div class="row my-2" *ngFor="let contact of contactArray, let i=index">
          <div class="col-3 my-2">
            <div>{{contact.firstname}}</div>
          </div>
          <div class="col-3">
            <button class="btn btn-info" [routerLink]="['/contact-details', i]">View</button>
          </div>
          <div class="col-3">
          <button class="btn btn-danger" (click)="del(i)">Delete</button>
        </div>
        </div>
    </div>
</div>

<!-- <app-contact-details [selectedContact]="selectedContact"></app-contact-details> -->
<!-- <app-contact-details [selectedContact]="selectedContact" [selectedIndex]="selectedIndex" (contactUpdated)="updateContacts($event)"></app-contact-details> -->




